<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.addhen.ushahidi"
    android:versionCode="1"
      android:versionName="1.0.0">
    <uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>    
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application android:icon="@drawable/ushahidi_icon" android:label="@string/app_name">
    <service android:name="UshahidiService" />

        <receiver android:name="BootReceiver">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
          </intent-filter>
        </receiver>        
    	<uses-library android:name="com.google.android.maps" />
        <activity android:name=".Ushahidi" 
        	android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Incidents List -->
        <activity android:name=".ListIncidents" android:label="@string/view_incident">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
            <intent-filter>
                <action android:name="org.addhen.ushahidi.INCIDENTS" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
            <intent-filter>
                <action android:name="org.addhen.ushahidi.NEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        
        <!-- Incidents Map -->
        <activity android:name=".ViewIncidents" android:label="@string/view_incident">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity> 
        
        <!--  Add a new incidents -->
        <activity android:name=".AddIncident" android:label="@string/add_incident">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        
        <!-- Settings  -->
        <activity android:name=".Settings" android:label="@string/app_settings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ACTION_VIEW" />            
            </intent-filter>
        </activity>
        
        <!--  Image capture -->
        <activity android:name=".ImageCapture" android:label="@string/strPostPhotos">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        
    </application>
</manifest> 