<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.addhen.ushahidi"
    android:versionCode="2"
      android:versionName="0.9.2">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>    
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name= "android.permission.ACCESS_COARSE_LOCATION" /> 
    <uses-permission android:name= "android.permission.ACCESS_FINE_LOCATION" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="7"/>
    <application 
    	android:icon="@drawable/ushahidi_icon" 
    	android:label="@string/app_name"
    	android:name="UshahidiApplication">
    	<service android:name=".UshahidiService" />       
    	<service android:name=".SmsReceiverService" />
    	<uses-library android:name="com.google.android.maps" />
        <activity android:name=".UshahidiSplashScreen" 
        	android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Ushahidi" 
        	android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--  sms -->
        <receiver android:name=".SmsReceiver">
      		<intent-filter>
        		<action
          			android:name="android.provider.Telephony.SMS_RECEIVED" />
      		</intent-filter>
      	</receiver>
        
        <!-- Incidents List -->
        <activity android:name=".ListIncidents" android:label="@string/view_incident">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
            <intent-filter>
                <action android:name="org.addhen.ushahidi.INCIDENTS" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
            <intent-filter>
                <action android:name="org.addhen.ushahidi.NEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        
        <!-- Incidents Map -->
        <activity android:name=".IncidentMap" android:label="@string/view_incident">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity> 
        
        <!-- View Incidents -->
        <activity android:name=".ViewIncidents" android:label="@string/view_incident">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity> 
        
        <!--  reports tabs -->
        <activity android:name=".IncidentsTab" android:label="@string/reports">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity> 
        
        <!--  Add a new incidents -->
        <activity android:name=".AddIncident" android:label="@string/add_incident">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        
        <!-- Add location  -->
        <activity android:name=".LocationMap" android:label="@string/add_location">
        	<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT"></category>
        	</intent-filter>
        </activity>
        <!-- Settings  -->
        <activity android:name=".Settings" android:label="@string/app_settings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ACTION_VIEW" />            
            </intent-filter>
        </activity>
        
        <!--  Image capture -->
        <activity android:name=".ImageCapture" android:label="@string/str_post_photos">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        
        <!--  About -->
        <activity android:name=".About" android:label="@string/ushahidi_about">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
    </application>
</manifest>