<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (c) 2010 Ushahidi Inc All rights reserved Contact: team@ushahidi.com 
	Website: http://www.ushahidi.com GNU Lesser General Public License Usage 
	This file may be used under the terms of the GNU Lesser General Public License 
	version 3 as published by the Free Software Foundation and appearing in the 
	file LICENSE.LGPL included in the packaging of this file. Please review the 
	following information to ensure the GNU Lesser General Public License version 
	3 requirements will be met: http://www.gnu.org/licenses/lgpl.html. If you 
	have questions regarding the use of this file, please contact Ushahidi developers 
	at team@ushahidi.com.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ushahidi.android.app"
    android:versionCode="30"
    android:versionName="3.1.5" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <!-- Enable this feature if you need autofocus <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

</manifest>